.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }
}

.errorMessage {
    background-color: var(--expense-color);
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
}